<!-- validate-subscriber.component.html -->
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="row">
      <div class=" offset-md-3">
        <div class="text-center">
          <h2>Validate Subscriber</h2>
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="mobileNumber" class="form-control" placeholder="Enter Mobile Number">
            <br>
            <button class="btn btn-primary" type="button" (click)="validateSubscriber()">Validate</button>
          </div>
          <p>{{ message }}</p>
          <router-outlet></router-outlet>
          
          <a *ngIf="subscriber && subscriber.id"  [routerLink]="['/plan']" target="_blank">View Recharge Plans</a>
        </div>
      </div>
    </div>
  </div>
  

  
  